@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: large;
    margin-left: 3px;
}

.carros {
    display: flex;
    width: 100%;
    border: 3px solid black;
    padding: 5px;
    border-radius: 5px;
}

.carro {
    border: 3px #008 solid;
    background-color: #8cf;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.campoForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 10px;
}

.campoForm input {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.campoForm button {
    background-color: #888;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.remove {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #888;
}