@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.controles {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 5px;
}

.controle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: white;
    border: 2px solid #888;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button {
    cursor: pointer;
    background-color: #888;
    padding: 5px;
    border-radius: 5px;
}

input[type='number'], #num_objetos {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 150px;
}

.palco {
    display: flex;
    width: 100%;
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
}

.bola {
    position: absolute;
    border-radius: 100px;
}